<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Pixies Place Search Engine<% if terms %>: %terms% <% end if %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="version" content="%VERSION%" />
	<meta name="description" content="Site search engine" />
	<!--#include file="style.inc" -->
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellpadding="0" cellspacing="0" background="http://www.pixies-place.com/forums/images/frontpage/newforumstop_02.jpg">
  <tr> 
    <td><img src="http://www.pixies-place.com/forums/images/frontpage/newforumstop_01.jpg" width="230" height="27" /></td>
    <td width="74%" valign="middle" background="http://www.pixies-place.com/forums/images/frontpage/newforumstop_02.jpg"><table width="406" border="0" align="right" cellpadding="0" cellspacing="0" bordercolor="#333333" bgcolor="#FFFFFF">
        <tr bgcolor="ffcc00"> 
          <td width="33%" align="center" onclick="location.href='http://www.pixies-place.com/erotic.shtml'" 
          onmouseover="style.backgroundColor='#f7ab00'; style.cursor='hand'" 
          onmouseout="style.backgroundColor='#ffcc00';"><a href="http://www.pixies-place.com/erotic.shtml"><font size="2" face="Arial, Helvetica, sans-serif">Stories</font></a></td>
          <td width="33%" align="center" onclick="location.href='http://www.pixies-place.com/links.htm'" 
          onmouseover="style.backgroundColor='#f7ab00'; style.cursor='hand'" 
          onmouseout="style.backgroundColor='#ffcc00';"><a href="http://www.pixies-place.com/links.htm"><font size="2" face="Arial, Helvetica, sans-serif">Links</font></a></td>
          <td width="33%" align="center"  onclick="location.href='http://www.pixies-place.com/forums'"
          onmouseover="style.backgroundColor='#f7ab00'; style.cursor='hand'" 
          onmouseout="style.backgroundColor='#ffcc00';"><a href="http://www.pixies-place.com/forums">Forums</a></td>
        </tr>
      </table></td>
    <td width="397"><div align="right"><img src="http://www.pixies-place.com/forums/images/frontpage/newforumstop_04.jpg" width="109" height="27" /></div></td>
  </tr>
  <tr> 
    <td colspan="3"><table width="100%" height="12" border="0" cellpadding="0" cellspacing="0" bgcolor="ffffff">
        <tr> 
          <td width="99%" background="http://www.pixies-place.com/forums/images/frontpage/newforumstop_06.jpg"></td>
          <td width="619" background="http://www.pixies-place.com/forums/images/forums/newforumstop_06.jpg"><div align="right"><img src="http://www.pixies-place.com/forums/images/frontpage/newforumstop_07.jpg" width="619" height="13" /></div></td>
        </tr>
      </table></td>
  </tr>
</table><br>
<table width="100%" border="0" cellspacing="1" cellpadding="4">
  <tr>
    <td>

<!--#echo banner=""-->