<center>
<table border="1" cellpadding="8" cellspacing="1">
<tr bgcolor="#d5d2bb"><td bgcolor="#d5d2bb" align="center">
Igualar <select name="Match"><option value="1">Todos</option><option value="0">Cualquiera</option></select> Buscar en:<select name="Realm">
	<option value="All">[ Todos ]</option>%realm_options%</select></td></tr>
<tr bgcolor="#d5d2bb"><td bgcolor="#d5d2bb" align="center">
<tt><input name="Terms" size="40" style="font-family:monospace" /></tt>
<input type="submit" class="submit" value="Búsqueda" /></td></tr>
</table>
</center>