<center>
<table border="0" cellpadding="3" width="600">
<tr>
<td align="left">

	<p><b>Reglas De Búsqueda</b></p>
	<p>Este Motor de Búsqueda le ayuda a encontrar documentos en este sitio y sitios relacionados. Funciona de esta manera: usted le dice al servicio de búsqueda lo que usted está buscando pulsando palabras claves, frases, o preguntas en el rectángulo de búsqueda. El servicio de búsqueda responde dándole una lista de todas las paginas del Web en nuestro índice referente a esos asuntos. El contenido más relevante aparecerá en la tapa de sus resultados.</p>
	<p><b>Cómo Utilizar:</b></p>
	<ol>
		<li>Pulse sus palabras claves en el rectángulo de búsqueda.</li>
		<li>Presione el botón de Búsqueda para comenzar su búsqueda.</li>
	</ol>
	<p><b>Aquí tiene un ejemplo:</b></p>
	<ol>
		<li>Tipo <a href="%search_url_ex%Terms=%url_query_example%">%query_example%</a> en el rectángulo de la búsqueda.</li>
		<li>Presione el botón de Búsqueda o presione la tecla de Introducir.</li>
		<li>La pagina de resultados le mostrará las numerosas paginas en el Web acerca de las recetas de las galletas harina de avena y pasas.</li>
	</ol>
	<p>Pista: No se preocupe si usted encuentra una gran cantidad de resultados. En hecho, utilice más que un par de palabras al buscar. Aunque el número de resultados será grande, el contenido más relevante aparecerá siempre en la tapa de las paginas de resultado.</p>
	<p><b>Más Fundamentos - Una Descripción</b></p>
	<p>Aquí está una descripción rápida del resto de nuestra Ayuda Básica. Haga clic en los vínculos para saltar a esas secciones.</p>
	<p>
		<a href="#1">Que es un ' índice'?</a><br />
		<a href="#2">Que es una palabra?</a><br />
		<a href="#3">Que es una frase?</a><br />
		<a href="#4">Pistas simples para búsquedas más exactas</a><br />
		<a href="#5">Características de lujo para las búsquedas típicas</a>
	</p>

	<a name="1"></a>
	<p><b>Que es un índice?</b></p>

	<p>El diccionario de Webster describe un " índice " como arreglo secuencial de material. Nuestro índice es una colección grande, cada vez mayor, ordenada por paginas del Web y de paginas del grupo de discusión alrededor del mundo. El ' índice ' crece cada día porque  personas nos envían direcciones de paginas nuevas del Web. También tenemos tecnología que rastrea el Web en busca de conexiones a las paginas nuevas. Cuando usted utiliza nuestro servicio de búsqueda, usted busca en nuestra colección entera usando palabras claves o frases.</p>

	<a name="2"></a>
	<p><b>Que es una palabra?</b></p>

	<p>Al buscar, piense la palabra como una combinación de letras y números. El servicio de búsqueda necesita saber como separar palabras y números para encontrar exactamente lo que usted desea en el Internet. Usted puede separar palabras usando espacio y las tabulaciones blancos.</p>

	<a name="3"></a>
	<p><b>Que es una frase?</b></p>

	<p>Usted puede conectar palabras y números juntos en frases si usted desea  que las palabras o los números específicos aparezcan juntos en sus paginas de resultado. Si usted desea encontrar una frase exacta, utilice la " cita doble marca " alrededor de la frase cuando usted incorpore palabras al rectángulo de búsqueda.</p>

	<p>Ejemplo # 1: Para encontrar las líricas del Rey, pulse " no eres  nada mas que un perro rastreador " en el rectángulo de la búsqueda. Usted puede también crear frases usando la puntuación o caracteres especiales tales como rociadas, líneas del carácter subrayado, comas, rayas verticales, o puntos.</p>

	<p>Ejemplo # 2: Trate buscar 1-800-999-9999 en vez de 1 800 999 9999. Las rociadas conectan los números juntos como frase.</p>

	<a name="4"></a>

	<p><b>Pistas simples para búsquedas más exactas</b></p>

	<p>Las búsquedas son caso insensible. Buscar por " piel " corresponderá con la " piel minúscula " y " PIEL mayúscula".</p>

	<p>Por valor por defecto, todas las búsquedas también son acento insensible, pero los administradores pueden cambiar esta configuración. La sensibilidad de acento se relaciona con los caracteres hispanos  como &#245;.</p>

	<p><b>Incluyendo o excluyendo palabras:</b></p>

	<p>Para cerciorarse de que una palabra específica siempre esté incluida  en su búsqueda, ponga el símbolo más (+) antes de la palabra clave en el rectángulo de la búsqueda. Para cerciorarse de que una palabra específica siempre esté excluida en su búsqueda, coloque a menos (-)  antes de la palabra clave en el rectángulo de la búsqueda.</p>

	<p>Ejemplo: Para encontrar las recetas de las galletas de harina de avena pero sin las pasas, trate " receta galleta +avena - pasa".</p>

	<p><b>Amplíe su búsqueda usando comodines (*):</b></p>

	<p>Al pulsar * al final de una palabra clave, usted puede buscar la palabra con conclusiones múltiples.</p>

	<p>Ejemplo: Trate deseo*, para encontrar deseo, deseos, deseoso, deseando y deseándole.</p>

	<p><b>Buscando direcciones del Web:</b></p>

	<p>Si su término de búsqueda es un URL, como " http://www.yahoo.com / ", algunos motores de búsqueda le dirigirán directamente al URL. Para evitar este comportamiento, y hacer una búsqueda real con el URL como el término de la búsqueda, incluya el URL en doble-comillas.</p>

	<a name="5"></a>
	<p><b>Características de lujo para las búsquedas típicas</b></p>

	<p>Usted puede buscar más que el texto. Aquí están todas las otras maneras que usted puede buscar en la red:</p>

	<p><b>vínculo:dirección</b><br />
	Encuentra las paginas que se conectan a una direccion especifica, o una subcadena de ella. Utilice link:microsoft.com para encontrar todas las paginas que se conectan a los sitios de Microsoft. Nota: esta característica no es ejecutada en todos los motores de búsqueda.</p>

	<p><b>texto:texto</b><br />
	Encuentra las paginas que contienen el texto especificado en cualquier parte de la pagina con excepción de una etiqueta de imagen, vinculo, o de un URL. La búsqueda text:cow9 encontraría todas las paginas con el término cow9 en ellas.</p>

	<p><b>titulo:texto</b><br />
	Encuentra las paginas que contienen la palabra o la frase especificada en el título de la pagina (aparece en la barra del título en la mayoría de los navegadores). La búsqueda titulo:Elvis encontraría las paginas con Elvis en el título.</p>

	<p><b>url:text</b><br />
	Encuentra paginas con una palabra o una frase específica en el URL. Use url:altavista para encontrar todas las paginas en todos los servidores que tienen altavista en el nombre de ordenador principal, el camino, o el nombre de fichero – en otras palabras, el URL completo.</p>

</td>
</tr>
</table>
</center>

