<center>
<table border="0" cellpadding="3" width="600">
<tr>
<td align="left">

	<p><b>Reguli Cautare</b></p>
	<p>Acest motor de cautare te ajuta sa gasesti documente in aceasta pagina de web si in pagini aferente. Iata cum functioneaza: tu spui serviciului de cautare ce anume cauti, prin tastarea de cuvinte cheie, fraze sau intrebari in linia de cautare. Serviciul de cautare raspunde prin listarea tuturor paginilor de web ce au legatura cu respectivele subiecte. Numaratoarea cea mai relevanta va aparea in partea de sus a rezultatelor.</p>
	<p><b>Cum sa Folosesti:</b></p>
	<ol>
		<li>Tasteaza cuvintele cheie in linia de cautare.</li>
		<li>Apasa butonul Cauta pentru a incepe cautarea.</li>
	</ol>
	<p><b>Iata un exemplu:</b></p>
	<ol>
		<li>Tasteaza <a href="%search_url_ex%Terms=%url_query_example%">%query_example%</a> in linia de cautare.</li>
		<li>Apasa butonul Cauta sau apasa tasta Enter.</li>
		<li>Pagina Rezultatelor va arata numeroase pagini pe Web despre retete placinta cu mere.</li>
	</ol>
	<p>Pont: Nu-ti face griji daca gasesti un numar mare de rezultate. De fapt, fooseste mai multe cuvinte cand cauti. Chiar daca numarul de rezultate va fi prea mare, cele cu continutul cel mai relevant vor aparea intotdeauna in partea de sus a paginilor cu rezultate.</p>
	<p><b>Mai multe notiuni primare - Un Sumar</b></p>
	<p>Aici gasesti  un sumar rapid a ceea ce a am ramas din Ajutor Primar. Doar da click pe aceste trimiteri pentru a sari catre aceste sectiuni.</p>
	<p>
		<a href="#1">Ce este un 'Index'?</a><br />
		<a href="#2">Ce este un Cuvant?</a><br />
		<a href="#3">Ce este o Fraza?</a><br />
		<a href="#4">Sfaturi Simple pentru Cautari Mai Exacte</a><br />
		<a href="#5">Caracteristici Atipice pentru Cautari Tipice</a>
	</p>

	<a name="1"></a>
	<p><b>Ce este un Index?</b></p>

	<p>Dictionarul Webster descrie "index" ca un aranjament secvential al unui material. Indexul nostru este o mare, crescatoare, organizata colectie de pagini de Web si grupuri de discutii de prin toata lumea.  'Indexul' devine tot mai mare in ffiecare zi, pe masura ce oamenii ne trimit noi adrese de pagini de Web. Avem deasemenea si tehnologia de cautare adanca (crawl) in Web ce urmareste trimiterile catre noi pagini. Cand folosesti serviciul nostru de cautare, cauti in toata colectia noastra folosind cuvinte cheie si fraze.</p>

	<a name="2"></a>
	<p><b>Ce este un Cuvant?</b></p>

	<p>Cand cauti, gandeste-te la un cuvant ca la o combinatie de litere si numere. Servicul de cautare are nevoie sa stie cum sa separe cuvintele si numerele pentru a gasi exact ceea ce doresti pe Internet. Poti separa cuvintele folosind spatii albe.</p>

	<a name="3"></a>
	<p><b>Ce este o Fraza?</b></p>

	<p>Poti lega cuvinte si numere impreuna in fraze daca doresti ca anumite cuvinte sau numere sa apara impreuna in paginile cu rezultate. Daca doresti sa gasesti fraza exacta, foloseste "ghilimele duble" la inceputul si la finalul frazei atunci cand introduci cuvintele in linia de cautare.</p>

	<p>Exemplu #1: Pentru a gasi versuri de King, tasteaza "nu esti nimic altceva decat un caine de vanatoare" in linia de cautare. Deasemenea, poti crea fraze folosind punctuatia sau caracterele speciale precum liniute, linii subscor, virgule, oblice sau puncte.</p>

	<p>Exemplu #2: Incearca sa cauti dupa 1-800-999-9999 in loc de 1 800 999 9999. Liniutele leaga numerele impreuna ca fraza.</p>

	<a name="4"></a>

	<p><b>Sfaturi Simple pentru Cautari Mai Exacte</b></p>

	<p>Cautarile sunt factor insenzitiv. Cautand dupa "Fur" se va potrivi cu "fur" precum si cu "FUR".</p>

	<p>Initial, toate cautarile sunt deasemenea accent insenzitive, dar administratorii pot schimba aceasta setare. Accent senzitiv se refera la caracterele Latine precum &#245;.</p>

	<p><b>Incluzand sau excluzand cuvinte:</b></p>

	<p>Pentru a te asigura ca un cuvant anume este intotdeauna inclus in subiectul cautarii, plaseaza simbolul plus (+) inaintea cuvantului cheie in linia de cautare. Pentru a te asigura ca un cuvant anume este intotdeauna exclus din subiectul cautarii, plaseaza semnul minus (-) inaintea cuvantului cheie in linia de cautare.</p>

	<p>Exemplu: Pentru a gasi retete pentru prajituri cu mere dar fara nuca, incearca "reteta prajitura +mere -mere".</p>

	<p><b>Extinde cautarea folosind jokeri (*):</b></p>

	<p>Tastand un * la sfarsitul unui cuvant cheie, poti cauta dupa cuvantul respectiv cu multiple terminatii.</p>

	<p>Exemplu: Incearca dor*, pentru a gasi dor, dorinta, doritor, dormitor si dormeza.</p>

	<p><b>Cautand dupa adrese de web:</b></p>

	<p>Daca termenul de cautare este un URL, precum "http://www.yahoo.com/", unele motoare de cautare te vor redirectiona automat catre URLul respectiv. Pentru a evita acest comportament, si pentru a cauta chiar cu URLul ca termen de cautare, inchide URLul intre ghilimele-duble.</p>

	<a name="5"></a>
	<p><b>Caracteristici Atipice pentru Cautari Tipice</b></p>

	<p>Poti cauta mai mult decat doar text. Ai aici toate celelalte moduri de cautare de pe net:</p>

	<p><b>link:adresa</b><br />
	Gaseste paginile ce fac trimitere la adresa specificata. Foloseste link:microsoft.com pentru a gasi toate paginile ce fac trimitere catre siturile Microsoft. Ia nota: aceasta caracteristica nu este implementata in toate motoarele de cautare.</p>

	<p><b>text:text</b><br />
	Gaseste pagini ce contin un text specificat in orice parte a paginii alta decat un insemn de imagine, trimitere sau URL. Cautarea text:cow9 va gasi toate paginile ce contin termenul cow9.</p>

	<p><b>title:text</b><br />
	Gaseste paginile ce contin cuvantul specificat sau fraza specificat in titlul paginii (ce apare in bara de titluin majoriatea navigatoarelor (browsers)). Cautarea title:Elvis va gasi paginile ce contin cuvantul Elvis in titlu.</p>

	<p><b>url:text</b><br />
	Gaseste paginile ce contin un anumit cuvant sa fraza in URL. Foloseste url:altavista pentru a gasi toate paginile pe toate serverele ce contin cuvantul altavista in numelegazda, cale sau nume fisier - cu alte cuvinte, URLul complet.</p>

</td>
</tr>
</table>
</center>

