<center>
<table border="1" cellpadding="8" cellspacing="1">
<tr bgcolor="#d5d2bb"><td bgcolor="#d5d2bb" align="center">
Match <select name="Match"><option value="1">All</option><option value="0">Any</option></select> term in Search Index:<select name="Realm">
	<option value="All">[ All ]</option>%realm_options%</select></td></tr>
<tr bgcolor="#d5d2bb"><td bgcolor="#d5d2bb" align="center">
<tt><input name="Terms" size="40" style="font-family:monospace" /></tt>
<input type="submit" class="submit" value="Search" /></td></tr>
</table>
</center>